.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.head-slider {
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 16%, rgba(16, 24, 40, 1) 81%);
}